@model EventRegistrationSystem.Models.Event

@{
    ViewBag.Title = "Delete Event";
}

<h2>Delete Event</h2>

<div class="alert alert-warning client-alert-box">
    Are you sure you want to <strong>DELETE the Event: '@Model.EventName'?</strong>
</div>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Event Owner
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.FullName)
        </dd>

        <dt>
            Event Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TicketPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TicketPrice)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <a type="button" href="/Events/Index" class="btn btn-primary btn-sm">
                <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                Client List
            </a>
            <button type="submit" class="btn btn-danger btn-sm" style="width:100px; margin-left:10px;">Delete</button>
        </div>
    }
</div>
