@model EventRegistrationSystem.Models.Event

@{
    ViewBag.Title = "Event Details";
}

<h2>Event Details</h2>

<div>
    <div class="btn-group" role="group" aria-label="...">
        <a type="button" class="btn btn-primary btn-sm" href="/Events/Index">
            <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
            Events List
        </a>
        <a type="button" class="btn btn-success btn-sm" href="/Events/Edit/@Model.ID">
            Edit Event
            <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
        </a>
    </div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Event Owner
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventName)
        </dt>

        <dd>
            Event Name
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TicketPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TicketPrice)
        </dd>

    </dl>
</div>

