@model IEnumerable<EventRegistrationSystem.Models.Client>

@{
    ViewBag.Title = "Client Index";
}

<div class="client-header-div" style="margin-top:20px; padding:4px 10px;">
    <h2 class="pull-left">Client List</h2>
    <a style="margin-top:20px; margin-bottom:20px;" class="pull-right btn btn-success btn-sm" href="/Client/Create">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        New Client
    </a>
</div>

<table class="table table-hover">
    <tr class="info">
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td class="bg-warning">
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                <div class="btn-group pull-right" role="group" aria-label="...">
                    <a type="button" class="btn btn-warning btn-sm" href="/Client/Edit/@item.ID" style="width:56.69px">Edit</a>
                    <a type="button" class="btn btn-primary btn-sm" href="/Client/Details/@item.ID">Details</a>
                    <a type="button" class="btn btn-danger btn-sm" href="/Client/Delete/@item.ID">Delete</a>
                </div>
            </td>
        </tr>
    }

</table>
